<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        Order Details
  </ion-title>
  <ion-buttons end>
    <button ion-button id="notification-button"  clear  end>
        <ion-icon name="bonfire" color="danger">
          <ion-badge id="notifications-badge" color="danger">5</ion-badge>
        </ion-icon>
    </button>

  </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
   <ion-list-header>
     Order Id : {{ order.orderId }}
   </ion-list-header>

   <ion-grid>
     <ion-row *ngFor='let item of order.items'>
       <ion-col col-5>{{ item.itemName }}</ion-col>
       <ion-col col-4>{{ item.quantity }} * {{ item.price }}</ion-col>
       <ion-col col-3>= {{item.quantity*item.price}}</ion-col>
     </ion-row>
    </ion-grid>
</ion-list>
<ion-grid>
     <ion-row>
       <ion-col col-5>Discount Coupon</ion-col>
       <ion-col col-4>{{ order.discountCoupon }}</ion-col>
       <ion-col col-3> {{ order.discount}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-5>Service Charge</ion-col>
       <ion-col col-4>12%</ion-col>
       <ion-col col-3> {{order.serviceCharge}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-5><h2>Total</h2></ion-col>
       <ion-col col-4>12%</ion-col>
       <ion-col col-3> {{order.total}}</ion-col>
     </ion-row>
   </ion-grid>

 <h2 *ngIf="order.review != ''"> Your Review is:
   <p>{{order.review}}</p>
 </h2>

 <h2 *ngIf="order.review == ''"> Review My Order
   <ion-item>
       <ion-textarea placeholder="Enter a review ..." #review></ion-textarea>

  </ion-item>
  <button ion-button color="primary" block (click)="SubmitReview(review)">Submit Review</button>
</h2>

</ion-content>
